<p>home works!</p>

<div *ngFor="let pokemon of pokemonList; let index = index">
     id #{{pokemon.id}}<br>
    hp :{{pokemon.cp}}<br>
    {{pokemon.name}}
    <img src="{{ pokemon.picture }}" width="100px" height="100px">
    <a (click)="viewOnePokemon(pokemon.id)" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#affichePokemon">
        <h5 class="card-title text-center">View</h5>
      </a>
    
    <button (click)="suppressPokemon(pokemon.id)" class="btn btn-danger">Delete</button>
</div>

  <!--- MODAL --->
<div class="modal fade text-center" id="affichePokemon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{pokemonSelected?.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{{pokemonSelected?.picture}}" style="width: 15em">
          <p>HP: {{pokemonSelected?.hp}}</p>
          <p>CP: {{pokemonSelected?.cp}}</p>
          <p>Type: {{pokemonSelected?.types}}</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-pokemon-form></app-pokemon-form>